---
import '../styles/global.css';

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title = 'Thoth', description = 'The site for the Thoth Discord bot.' } = Astro.props;
---

<meta charset="utf8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />

<!-- opengraph crap -->
<meta name="og:title" content={title} />
<meta name="og:type" content="website" />
<meta name="og:description" content={description} />
<meta name="og:image" content="/assets/logo.png" />
<meta name="og:url" content="/" />
<meta name="og:locale" content="en_US" />
<meta name="og:locale:alternate" content="en_GB" />
<meta name="theme-color" content="#77B3D4" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@fykowo" />
<meta name="twitter:creator" content="@fykowo" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content="/assets/logo.png" />
<meta name="twitter:url" content="/" />

<meta name="generator" content={Astro.generator} />
<meta name="darkreader-lock" />
<title>{title}</title>

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&family=Rubik:wght@500;600&display=swap"
  rel="stylesheet"
/>

<script is:inline>
  // This code is inlined in the head to make dark mode instant & blocking.
  const getThemePreference = () => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme');
    }

    return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
  };

  const isDark = getThemePreference() === 'dark';
  document.documentElement.classList[isDark ? 'add' : 'remove']('theme-dark');

  if (typeof localStorage !== 'undefined') {
    // Watch the document element and persist user preference when it changes.
    const observer = new MutationObserver(() => {
      const rootIsDark = document.documentElement.classList.contains('theme-dark');
      localStorage.setItem('theme', rootIsDark ? 'dark' : 'light');
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ['class'],
    });
  }
</script>

<script>
  window.$discordMessage = {
    defaultTheme: 'dark',

    profiles: {
      fyko: {
        author: 'Carter',
        avatar: '/assets/fyko.webp',
        roleColor: '#7289da',
      },
      thoth: {
        author: 'Thoth',
        avatar: '/assets/logo.svg',
        roleColor: '#77b3d4',
        bot: true,
        verified: true,
      },
    },

    emojis: {
      merriamWebster: {
        name: 'merriamWebster',
        url: '/assets/merriam-webster-icon.png',
      },
    },
  };
</script>

<!-- <script type="module" src="https://unpkg.com/@skyra/discord-components-core"></script> -->
<script defer data-domain="trythoth.com" src="https://apples.fyko.net/js/script.outbound-links.js"></script>
